h3 {
	color: #000;
}
.table {
	padding: 60px;
}
i {
	color: #fff;
	margin: 0 5px;
}

i:hover {
	color: #F54D1E;
}

.table {
	padding: 20px;
}

.table .datas .col-md-12 {
	background-color: ;
	margin: 10px 0;
	border-radius: 20px;
	color: #fff;

}

.table .datas .col-md-12 p {
	padding: 10px 10px;
	background-color: #A0C591;
	margin: 10px 0;
	border-radius: 20px;
	color: #fff;

}

@media only screen and (max-width : 768px){
	.table {
		padding: 0px;
	}
}